USE [master]
GO
/****** Object:  Database [bai2]    Script Date: 20/07/2021 5:24:57 CH ******/
CREATE DATABASE [bai2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bai2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\bai2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bai2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\bai2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bai2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bai2]
GO
/****** Object:  Table [dbo].[Order_detail]    Script Date: 20/07/2021 5:24:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_detail](
	[OrderID] [int] NULL,
	[pId] [int] NULL,
	[Price] [float] NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20/07/2021 5:24:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[OrderAmount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 20/07/2021 5:24:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[pId] [int] NOT NULL,
	[pName] [nvarchar](50) NULL,
	[Price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[pId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD FOREIGN KEY([pId])
REFERENCES [dbo].[Products] ([pId])
GO
/****** Object:  StoredProcedure [dbo].[pSP]    Script Date: 20/07/2021 5:24:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[pSP]
as
begin
	SELECT *
	FROM Products
	WHERE not exists ( SELECT Order_detail.pId FROM Order_detail WHERE Products.pId=Order_detail.pId)
end
GO
/****** Object:  StoredProcedure [dbo].[pSX]    Script Date: 20/07/2021 5:24:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[pSX]
as
begin
	SELECT p.*
	FROM Products p, Order_detail o
	WHERE p.pId=o.pId 
	Order by  Quantity DESC
end
GO
USE [master]
GO
create trigger tg_Sp
on Order_detail
for Update
as
begin
	update t1 set t1.Price=t3.price 
	from Order_detail t1, deleted t2, inserted t3
	where t1.pId= t2.pId
end

update products set price= 65000000 where pid=2
select * from products
select * from ORDERS
select * from order_detail


